*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    margin-left: 10%;
    margin-right: 10%;
}

.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.container-row{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
}

#header{
    color: #070F18;
    text-decoration:underline;
    font-size: 24px;
    font-weight: 600;
    margin-top: 49px;
    margin-bottom: 49px;
}

#menu{
    margin-top: 49px;
    text-align: end;
}

#menu ul li{
    list-style: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 14px;
}

#div-title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 14px;
    font-size: 16px;
    text-justify: auto;
    margin: 30px auto 30px 0;
}

#div-title h1{
    font-size: 55px;
}

#div-title button{
    background-color: #1F7CFF;
    color: #ffff;
    border-radius: 50px;
    width: 180px;
    height: 48px;
    border: none;
}

#div-image{
    display: flex;
    justify-content: end;
}

#div-image img{
    width: 540px;
    height: 400px;
    margin-top: 20px;
}

#my-clients{
    padding-top: 7%;
    padding-bottom: 3%;
}

.div-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#my-clients p{
    text-align: start;
    font-weight: 600;
}

#my-services{
    text-align: center;
    font-size: 16px;
}

#my-services #my-services-text{
    padding-top: 3%;
    padding-bottom: 5%;
}

#my-services #text-red-my-services{
    color: #F75C4E;
    font-weight: 800;
}

#my-services h2{
    color: #000000;
    font-size: 36px;
}

#my-services p{
    margin-top: 2%;
    color: #575455;
}